@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root  {
    font-family: monospace;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body {
    margin : 0px;
}
.container {
    display : flex;
    flex-direction: column;
    gap : 2rem;
}
.header {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color : lightblue;
    display : flex;
    justify-content: center;
    align-items: center;
    height : 8rem;
    width : 100%;
}
#add-book {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size : 3rem;
    border : none;
    background : none;
    padding-right : 5rem;
    padding-left : 5rem;
}
#add-book:hover, #readCard:hover, #removeCard:hover {
    background-color : rgba(128, 128, 128, 0.486)
}
#main-content {
    margin-left : 5rem;
    margin-right : 5rem;
    font-size : 1.5rem;
    display : grid;
    grid-template-columns : repeat(5, 1fr);
    grid-template-rows: repeat(auto-fill, 15rem);
    gap : 2rem;
}
.modal { /* starts disabled / invisible */
    padding : 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transition: 100ms ease-in-out;
    transform: translate(-50%, -50%) scale(0); /* scale(0) makes it invisible */
    border: 2px solid black;
    border-radius: 10px;
    z-index: 10; /* always renmdered on top */
    background-color: white;
    width: 500px;
    max-width: 80%;
    display : flex;
    flex-direction: column;
    align-items: center;
  }

.modal.active { /* open modal */
    transform: translate(-50%, -50%) scale(1);
}

.new-book {
    height : 15rem;
    max-width : 20rem;
    font-size : 1rem;
    padding : 0.5rem;
    background-color: lightpink;
    border : 2px solid black;
    border-radius : 10px;
    display : flex;
    flex-direction: column;
    align-items: center;
    text-align : center;
    word-break : break-word;
    white-space : normal;
    justify-content: space-between;
}

.new-book.readTrue {
    background-color : lightgreen;
}

#titleCard {
    font-style : italic;
}

#readCard, #removeCard {
    font-size : 1.1rem;
    font-family: "Poppins", sans-serif;
    font-weight : 700;
    border : none;
    background-color : none;
    background : none;
}
#submit {
    font-family: "Poppins", sans-serif;
    font-weight : 700;
    border : 1px solid black;
    border-radius : 5px;
    background-color : none;
    background : none;
    padding-right: 0.5rem;
    padding-left : 0.5rem;
    background-color: rgba(144, 238, 144, 0.568);
}
#submit:hover {
    background-color: rgb(144, 238, 144);
}